* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100%;
  background-image: url("background3.jpg");
}
::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
nav {
  width: 100vw;
  font-family: sans-serif;
  padding-top: 10px;
}
#logo {
  font-size: 2rem;
  font-family: "Lobster", cursive;
  color: white;
  margin-left: 2rem;
}
nav input {
  width: 70vw;
  padding: 10px;
  padding-left: 2rem;
  margin-left: 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 10px rgba(39, 37, 37, 0.103);
  backdrop-filter: blur(10px);
  background-image: url("seach.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  outline: none;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  line-height: 50px;
}
nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
.container {
  display: flex;
  padding: 10px;
  justify-content: center;
}
section {
  margin-right: 5px;
  width: 65vw;
}
aside {
  margin-top: 0;
  width: 30vw;
  padding: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* glassmorphism */
.card {
  position: relative;
  margin-bottom: 2rem;
  width: 180px;
  height: 250px;
  padding: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(39, 37, 37, 0.103);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: auto auto auto;
  animation: cardmove 2s;
}
/* ends */
.top,
.middle,
.bottom {
  padding: 10px;
}
.card h1 {
  font-size: 2.5rem;
  position: relative;
  top: 20%;
}
section {
  position: relative;
  color: white;
  padding: 0 3rem 0 3rem;
  animation: move 3s;
}
.center-content .date {
  text-transform: uppercase;
  margin: 2.5rem 0;
  opacity: 0.8;
  font-family: sans-serif;
}
.center-content .desc {
  line-height: 1.5rem;
  opacity: 0.9;
}
.center-content h1 {
  font-size: 5rem;
}
.btn-holder {
  margin-top: 10px;
  padding: 10px;
}
.btn {
  width: 150px;
  border-radius: 20px;
  background: none;
  border: none;
  color: white;
  margin-right: 10px;
  box-shadow: 2px 2px 5px black;
  outline: none;
}
.btn:active {
  box-shadow: 1px 1px 5px black;
}
.btn:first-child {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
}
.btn:last-child {
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

@keyframes cardmove {
  from {
    left: 50px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes move {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
